<h2>New Project</h2>
<hr>


{{#each erros }}
<div class="alert-danger">{{texto}}</div>
{{else}}
{{/each}}


<div class="container">
    <form action="/project/new" method="post">
        <div class="row">
            <div class="col-25">
                <label for="pName">Project Name</label>
            </div>
            <div class="col-75">
                <input type="hidden" id="id" name="id" value="{{id}}">
                <input type="text" id="name" name="name" value="{{name}}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="startDate">Start Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="startDate" name="startDate" value="{{startDate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="endDate">End Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="endDate" name="endDate" value="{{endDate}}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="status">Status</label>
            </div>
            <div class="col-75">
                <input type="hidden" value="{{statusId}}" id="statusId">
                <select id="status" name="status"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="description">Description</label>
            </div>
            <div class="col-75">
                <textarea id="description" name="description" placeholder="Write project description..."
                    style="height:200px">{{description}}</textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save">
        </div>
    </form>


</div>
<script>

    $(document).ready(function () {
        fetchAsyncAwait();
    });

    async function fetchAsyncAwait() {
        const res = await fetch("http://localhost:8787/api/getStatusProject");
        const json = await res.json();

        let statusSelect = document.getElementById("status");
        let status = document.getElementById("statusId").value;

        for (let i = 0; i < json.length; i++) {
            let option = document.createElement("option");
            option.value = json[i].ID;
            option.innerText = json[i].StatusName;
            if (status == json[i].ID) {
                option.setAttribute("selected", "");
            }
            statusSelect.appendChild(option);
        }
    }


</script>