<h2>Projects</h2>
<hr>
<a href="/project/new"> <button class="w3-button w3-grey w3-round-medium"><i class="fa fa-plus" aria-hidden="true"></i>
        New Project</button></a>


{{#each Projects}}



<div class="w3-panel w3-card-4">
    <h3>{{NameProject}}</h3>
    <div class="w3-container">
        <div class="w3-cell-row">
            <div class="w3-container w3-cell">
                <h5 class="mr"><i class="fa fa-calendar" aria-hidden="true"></i><span class="mr">Start Date:
                    </span>{{StartDate}}
                </h5>
            </div>
            <div class="w3-container w3-cell">
                <h5><i class="fa fa-calendar" aria-hidden="true"></i><span class="mr">End Date: </span>{{EndDate}}</h5>
            </div>
        </div>
        <h5>Status: {{StatusName}}</h5>
        <h5 class="w3-margin-bottom">Description: {{DescriptionProject}}</h5>
    </div>
    <div class="w3-bar w3-margin-bottom">
        <a href="/feature/new/{{id}}"> <button class="w3-button w3-grey w3-round-medium"><i class="fa fa-plus"
                    aria-hidden="true"></i> New Feature</button></a>
        <a href="/bug/add/{{id}}"> <button class="w3-button w3-grey w3-round-medium"><i class="fa fa-plus"
                    aria-hidden="true"></i>
                Bugs</button></a>
        <a href="/project/edit/{{id}}"> <button class="w3-button w3-grey w3-round-medium">Edit</button></a>
        <button onclick="document.getElementById('form_{{id}}').style.display='block'"
            class="w3-button w3-red w3-round-medium">Delete</button>
    </div>
</div>
<div id="form_{{id}}" class="modal">
    <span onclick="document.getElementById('form_{{id}}').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    <form class="modal-content" action="/project/delete" method="post">
        <input type="hidden" id="id" name="id" value="{{id}}">
        <div class="container1">
            <h1>Delete Project</h1>
            <p>Are you sure you want to delete this project?</p>
            <div class="clearfix">
                <button type="button" class="cancelbtn"
                    onclick="document.getElementById('form_{{id}}').style.display='none'">Cancel</button>
                <button type="submit" class="deletebtn">Delete</button>
            </div>
        </div>
    </form>
</div>

{{else}}
<div class="w3-center">
    <h3>You don't have active projects!</h3>
</div>
{{/each}}